.DashboardContainer{
    padding: 40px;
    max-width: 1200px;
    margin: 40px auto;
    background: white;
    border-radius: 18px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}
.Volver {
    width: 25px;
    height: 25px;
    display: flex;           
    align-items: center;     
    justify-content: center; 
    border-radius: 50px;
    background-color: #EDEDED;
    cursor: pointer;
}

.flecha {
    font-size: 18px; 
}

.Volver:hover{
    transform: scale(1.2);
}


.Titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rol {
    background: #222;
    color: white;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 14px;
}

.Botones {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.Crear{
    background-color: #4DB35C;
}

.btn {
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.25s;
    color: white;
}

.btn:hover{
    transform: scale(1.05);
}


.TablaRegistros {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.tabla-usuarios {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.tabla-usuarios th {
    background: #136590;
    color: white;
    padding: 12px;
    text-align: left;
}

.tabla-usuarios td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla-usuarios tr:hover {
    background: #eee;
}

.activo {
    background-color: #50C878;
    color: white;
    font-weight: bold;
    padding: 4px 15px;
    border-radius: 20px;
    opacity: 0.9;
}

.inactivo {
    background-color: #EE1136;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 20px;
    opacity: 0.9;
}
th{
    text-align: center;
    vertical-align: middle;
    border: white solid 1px;
}
td{
    text-align: center;
    vertical-align: middle;
}
.imagen{
    justify-items: center;
    align-items: center;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

