<div class="DashboardContainer">

  <div class="Volver" (click)="volver()">
    <span class="flecha"><</span>
  </div>  

  <div class="Titulo">
    <h1>Bienvenido</h1>
    <span class="rol">Rol: {{ rol }}</span>

  </div>
  
  <div class="BotonCrear">
    <button class="btn Crear" (click)="abrirModal()"> + Añadir usuario</button>
  </div>

  <app-crear-usuario *ngIf="modalAbierto" (cerrarModal)="cerrarModal()"></app-crear-usuario>
  

  <div class="TablaRegistros">
    <table class="tabla-usuarios">
        <thead>
            <tr>
                <th>Nombre </th>
                <th>Correo</th>
                <th>Departamento</th>
                <th>Telefono</th>
                <th>Fecha de Registro</th>
                <th>Estado</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of usuarios">
              <td>{{u.Nombre_Completo}}</td>
              <td>{{u.Correo}}</td>
              <td>{{u.departamento?.nombre}}</td>
              <td>{{u.Telefono}}</td>
              <td>{{u.created_at | date:'dd-MM-yyyy'}}</td>
              <td>
                <span class="{{ u.Estado == 1 ? 'activo' : 'inactivo' }}">
                  {{ u.Estado == 1 ? 'Activo' : 'Inactivo' }}
                </span>
              </td>
              <td>
                <img src="https://cdn-icons-png.flaticon.com/512/4226/4226577.png" class="imagen">
              </td>
              <td>
                <img src="https://cdn-icons-png.flaticon.com/512/3143/3143497.png" class="imagen">
              </td>
            </tr>
        </tbody>
    </table>
    
  </div>


</div>
