<div class="overlay" (click)="cerrar()"></div>

<div class="modal animate">
  <h2>Crear Usuario</h2>

  <form (ngSubmit)="crearUsuario()">

    <div class="form-group">
      <label>Nombre completo</label>
      <input type="text" [(ngModel)]="usuario.nombre" name="nombre" required>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="usuario.email" name="email" required>
    </div>

    <div class="form-group">
      <label>Departamento</label>
      <select [(ngModel)]="usuario.id_departamento" name="dep" required class="select-departamento">
        <option [ngValue]="null" disabled>Seleccione un departamento</option>
        <option *ngFor="let dep of departamentos" [ngValue]="dep.id">{{ dep.nombre }}</option>
      </select>
    </div>


    <div class="form-group">
      <label>Teléfono</label>
      <input type="text" [(ngModel)]="usuario.telefono" name="tel" required>
    </div>

    <div class="form-group">
      <label>Estado</label>
      <select [(ngModel)]="usuario.estado" name="estado" required class="select-departamento">
        <option [ngValue]="null" disabled>Seleccione un estado</option>
        <option [ngValue]="1">Activo</option>
        <option [ngValue]="0">Inactivo</option>
      </select>
    </div>

    <div class="botones">
      <button type="submit" class="btn guardar">Guardar</button>
      <button type="button" class="btn cancelar" (click)="cerrar()">Cancelar</button>
    </div>

  </form>
</div>
