.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  z-index: 90;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.2);
  z-index: 100;
  animation: aparecer 0.25s ease-out;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 7px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.eliminar {
  background: #EE1136;
  color: white;
}

.cancelar {
  background: #777;
  color: white;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
    scale: 0.95;
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
    scale: 1;
  }
}
